<header class="row">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-pills" id="menu">
      <li>
        <a
          class="nav-link"
          [routerLink]="['/mensagens']"
          routerLinkActive="active">
          Mensagens
        </a>
      </li>

      <!-- **só mostra quando NÃO estiver logado** -->
      <li *ngIf="!isLoggedIn">
        <a
          class="nav-link"
          [routerLink]="['/autenticacao']"
          routerLinkActive="active">
          Autenticação
        </a>
      </li>

      <!-- **só mostra quando estiver logado** -->
      <li *ngIf="isLoggedIn">
        <a
          class="nav-link"
          (click)="onLogout()"
          style="cursor: pointer;">
          Logout
        </a>
      </li>
    </ul>
    <br>
  </nav>
</header>
