<header class="app-header">
  <nav class="nav-container">
    <ul class="nav-menu">
      <li>
        <a class="nav-link" [routerLink]="['/mensagens']" routerLinkActive="active">
          Mensagens
        </a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/autenticacao']" routerLinkActive="active">
          Autenticação
        </a>
      </li>

      <li *ngIf="isLoggedIn">
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">
          Logout
        </a>
      </li>
    </ul>
  </nav>
</header>
