<!-- src/app/preferences/preferences.component.html -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="theme">Tema</label>
        <select id="theme" formControlName="theme" class="form-control">
            <option value="light">Claro</option>
            <option value="dark">Escuro</option>
        </select>
    </div>

    <div class="form-group">
        <label>Notificação</label><br>
        <label class="form-check-label">
            <input type="radio" formControlName="notification" value="email" class="form-check-input"> Email
        </label>
        <label class="form-check-label ml-3">
            <input type="radio" formControlName="notification" value="sms" class="form-check-input"> SMS
        </label>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" formControlName="newsletter" id="newsletter" class="form-check-input">
        <label for="newsletter" class="form-check-label">Receber Newsletter</label>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Preferências</button>
</form>